@font-face{
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-VariableFont_wght.ttf') format("truetype");
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: Urbanist, Helvetica, sans-serif;
    padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.clear{
    clear: both;
}

img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 27, 83, 0.3);
}

.site-wrapper{
    width: 90%;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 15vh;
    background: linear-gradient(to bottom, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0));
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo-image{
    width: 150px;
    margin: 20px 10px 20px 60px;
}


.nav-menu {
    display: inline-block;
    float: right;
    margin-top: 35px;
    margin-right: 60px;
    border-radius: 30px;
    padding: 10px;
}

.nav-menu a{
    color: white;
    font-weight: normal;
    font-family: Urbanist, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: lowercase;
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    transition: 0.5s;
}

.nav-menu a:hover{
    color: orange;
    transition: 0.5s;
}

.nav-menu .nav-button{
    padding-right: 10px;
    padding-left: 10px;
}

.hero-section{
    position: relative;
}

.hero-image{
    margin-bottom: 0;
    padding: 0;
    min-height: 95vh;
    background-image: url('images/hero-image3.webp');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-64.5%, 50%);
    width: 60%;
    min-height: 20vh;
    padding: 20px 30px;
    word-break: keep-all;
    background-color: rgba(0, 27, 83, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.hero-section .hero-text h3{
    font-size: 2.5em;
    padding: 0;
    margin: 10px 0;
    color: white;
}

.hero-section .hero-text p{
    color: white;
    font-size: 1.2em;
    width: 100%;
    min-height: 10vh;
    max-height: 14vh;
    overflow: hidden;
}

.anchor-links{
    z-index: 100;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #001b53;
}

.anchor-links a{
    text-decoration: none;
    font-family: Urbanist, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px;
    color: white;
    text-transform: lowercase;
    transition: 0.5s;
}

.anchor-links a:hover{
    color: orange;
    transition: 0.5s;
}

.short-intro{
    width: 90%;
    margin: 60px auto 0;
}

.short-intro-text{
    width: 70%;
    float: left;
    line-height: 1.4;
}

.short-intro h2{
    color: #002468;
    text-align: left;
    width: 60%;
    font-family: Urbanist, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 0;
}

.short-intro-text p{
    font-size: 1.3em;
}

.short-intro-img{
    width: 25%;
    float: left;
    margin-left: 5%;
}

.manufacturers{
    width: 100%;
    margin: 60px auto 0;
    text-align: center;
    font-size: 25px;
    color: #002468;
}

.manufacturers-heading{
    color: #002468;
    width: 90%;
    margin: 0 auto 60px;
    text-align: left;
    font-family: Urbanist, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.manufacturers-wrapper{
    width: 30%;
    display: inline-block;
    transition: transform 0.3s ease;
    vertical-align: top;
}

.manufacturers-wrapper h3{
    font-size: 30px;
}

.manufacturer-image{
    display: block;
    width: 100%;
    object-fit: cover;
}

.manufacturers-image-wrapper{
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 5px rgba(0, 27, 83, 0.3);
}

.manufacturers-wrapper:hover{
    transform: scale(1.05);
}

.season-calendar-article{
    margin-top: 60px;
}

.season-calendar-article table{
    margin-top: 40px;
}

.season-calendar-title{
    color: #001b53;
    width: 90%;
    text-align: left;
    margin: auto;
    font-size: 60px;
}

.season-calendar{
    color: #001b53;
    width: 90%;
    font-size: 18px;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.season-calendar td{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 20%;
}

.season-calendar tbody tr{
    border-top: 1px solid rgba(0, 27, 83, 0.6);
    transition: font-size 0.3s ease;
}

.season-calendar tbody tr:hover{
    color: orange;
    font-size: 25px;
}

thead .first-row{
    font-size: 25px;
    color: #001b53;
}

#calendar{
    scroll-margin-top: 120px;
}

#manufacturers{
    scroll-margin-top: 120px;
}

#whatiswrc{
    scroll-margin-top: 120px;
}

#round-column{
    width: 5%; text-transform: uppercase; font-weight: bold;
}

#start-column{
    width: 18% !important;
    text-transform: uppercase;
    font-weight: bold;
}

#rally-column{
    width: 35%; text-transform: uppercase; font-weight: bold;
}

#surface-column{
    width: 5%; text-transform: uppercase; font-weight: bold;
}

#start-column{
    width: 5%;
    text-transform: uppercase;
    font-weight: bold;
}

.footer{
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    font-family: Urbanist, Helvetica, sans-serif;
    font-weight: bold;
    background: linear-gradient(to top, rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0));
    backdrop-filter: blur(10px);
}

.footer p{
    padding-right: 20px;
    color: white;
}

@media (max-width: 1100px){
    .logo-image{
        margin-left: 30px;
    }

    .nav-menu{
        margin-right: 20px;
    }
    .nav-menu a{
        margin-right: 0;
        margin-left: 0;
    }

    .hero-image{
        background-attachment: scroll;
        min-height: 70vh;
        padding: 0;
        margin: 0;
        background-size: cover;
        background-position: 70% center;
    }

    .hero-text{
        font-size: 1.6em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        min-height: auto;
        margin: 0;
        text-align: center;
    }

    .hero-section .hero-text h3{
        font-size: 2em;
        text-align: center;
    }

    .hero-text p{
        display: none;
    }

    .short-intro h2{
        width: 100%;
        text-align: center;
        font-size: 50px;
    }

    .short-intro-text{
        width: 100%;
        margin-bottom: 50px;
        text-align: justify;
    }

    .short-intro-img{
        width: 100%;
        float: left;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .manufacturers-heading{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        font-size: 50px;
    }

    .manufacturers-wrapper{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .manufacturers-wrapper h3{
        width: 100%;
        font-size: 1.3em;
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .manufacturers-wrapper:hover{
        transform: none;
    }

    .season-calendar-title{
        font-size: 50px;
        text-align: center;
    }

    #round-column{
        width: 15%;
    }

    #start-column{
        width: 10%;
    }

    #rally-column{
        width: 30%;
    }

    .season-calendar tbody tr:hover{
        color: inherit;
        font-size: inherit;
    }

    .hide-mobile{
        display: none;
    }
}
